<mat-toolbar color="primary" class="sticky-toolbar">
    <span>
        <a [routerLink]="['/sites']" class="a-light-primary">SolarTally</a>
    </span>
    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <span>
        <button mat-icon-button (click)="addAppliance()" matTooltip="Add Appliance">
            <mat-icon>add</mat-icon>
        </button>
    </span>
    <span>
        <a mat-icon-button [routerLink]="['/site-detail', idParam]" matTooltip="Back to Site Details">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </span>
    <span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Appliances">
        <div class="padding-10">
            <h2>Appliances</h2>
            <app-appliance-usage *ngFor="let auStr of auListStr" [au]="auStr" (remove)="removeApplianceUsage(auStr)" (update)="updateApplianceUsage(auStr)">
            </app-appliance-usage>
        </div>
    </mat-tab>
    <mat-tab label="Schedule">
        <div class="padding-10">
            <h2>Schedule</h2>
            <ul>
                <li *ngFor="let auStr of auListStr">
                    Schedule for {{auStr.applianceDto.name}} with Id {{auStr.id}}
                </li>
            </ul>
        </div>
    </mat-tab>
</mat-tab-group>