<mat-toolbar color="primary" class="sticky-toolbar">
    <span>
        <a [routerLink]="['/sites']" class="a-light-primary">SolarTally</a>
    </span>
    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <span>
        <button mat-icon-button (click)="addAppliance()" matTooltip="Add Appliance">
            <mat-icon>add</mat-icon>
        </button>
    </span>
    <span>
        <a mat-icon-button [routerLink]="['/site-detail', idParam]" matTooltip="Back to Site Details">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </span>
    <span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
</mat-toolbar>

<div class="padding-10">
    <h2>Appliances</h2>
    <app-appliance-usage *ngFor="let au of auList" [au]="au" (remove)="removeApplianceUsage(au)"></app-appliance-usage>
</div>