<mat-toolbar color="primary">
    <span>SolarTally</span>

    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <span>
        <mat-menu #addMenu="matMenu">
            <button mat-menu-item>New Site</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="addMenu">
            <mat-icon>add</mat-icon>
        </button>
    </span>
    <span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-nav-list>
    <mat-list-item *ngFor="let site of siteBriefs; last as last" [routerLink]='["/calc-stepper", {id: site.id}]'>
        <h4 mat-line>{{site.name}}</h4>
        <!-- <p mat-line class="demo-2"> {{folder.updated}} </p> -->
        <mat-icon aria-label="Edit Site">keyboard_arrow_right</mat-icon>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-nav-list>