@mixin mat-table-columns($columns)
{
   .mat-column-
   {
      @each $colName, $props in $columns {

         $width: map-get($props, 'width');

         &#{$colName} 
         {
            flex: $width !important;
            min-width: $width !important;
            @if map-has-key($map: $props, $key: 'max-width')
            {
                max-width: map-get($props, 'max-width');
            }

            @if map-has-key($props, 'color') 
            {
               color: map-get($props, 'color');
            }
         }  
      }
   }
}

@include mat-table-columns((
    name: (width: 1rem, 'max-width': 2rem, color: rgb(92, 11, 15))
));

@media only screen and (max-width: 960px)
{
    @include mat-table-columns((
        totalEnergyConsumption: (width: 2rem, color: rgb(12, 99, 4)),
        city: (width: 1rem, 'max-width': 1rem),
        to_detail_arrow: (width: 0.01rem, 'max-width': 0.01rem)
    ));
    
    .mat-column-to_detail_arrow {
        text-align: right;
        padding-left: 10px;
        padding-right: 8px !important;
    }
}

.mat-column-totalEnergyConsumption {
    text-align: center;
}

.mat-column-to_detail_arrow {
    text-align: right;
}

.sticky-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.cursor-pointer{
    cursor: pointer;
}
