@import '~@angular/material/theming';
@import '../shared/shared';

@mixin mat-table-columns($columns)
{
   .mat-column-
   {
      @each $colName, $props in $columns {

         $width: map-get($props, 'width');

         &#{$colName} 
         {
            flex: $width !important;
            min-width: $width !important;
            @if map-has-key($map: $props, $key: 'max-width')
            {
                max-width: map-get($props, 'max-width');
            }

            @if map-has-key($props, 'color') 
            {
               color: map-get($props, 'color');
            }
         }  
      }
   }
}

@include mat-table-columns((
    name: (width: 1rem, 'max-width': 2rem, color: $dark-primary-text)
));

@media only screen and (max-width: 960px)
{
    @include mat-table-columns((
        name: (width: 1rem, 'max-width': 1rem),
        totalPowerConsumption: (width: 1rem, 'max-width': 1rem),
        totalEnergyConsumption: (width: 1rem, 'max-width': 1.2rem),
        city: (width: 1rem, 'max-width': 1rem),
        to_detail_arrow: (width: 0.01rem, 'max-width': 0.01rem)
    ));
    
    .mat-column-to_detail_arrow {
        text-align: right;
        padding-left: 10px;
        padding-right: 8px !important;
    }
}

.mat-column-totalEnergyConsumption {
    color: $dark-primary-text;
}

.mat-column-to_detail_arrow {
    text-align: right;
}

.mat-column-city {
    color: $dark-secondary-text;
}
