<mat-toolbar color="primary" class="sticky-toolbar">
    <span>
        <a [routerLink]="['/sites']" class="a-light-primary">SolarTally</a>
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>
    <span>
        <a mat-icon-button [routerLink]="['/sites']" matTooltip="Back to Sites">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </span>

    <span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </span>
</mat-toolbar>

<div *ngIf="site" class="padding-10">
    <h2>Consumption</h2>
    <mat-card class="summary-card">
        <mat-card-title>
            Energy: {{site.consumptionTotal.totalEnergyConsumption}} Wh
        </mat-card-title>
        <br>
        <mat-card-content>
            <p>Power: {{site.consumptionTotal.totalPowerConsumption}} W</p>
            <p>Energy: {{site.consumptionTotal.totalEnergyConsumption}} Wh</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button [routerLink]="['/consumption', {id: site.id}]" color="accent">
                Edit Consumption
            </a>
        </mat-card-actions>
    </mat-card>
    <h2>Site Details</h2>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{site.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{site.numSolarHours}} <mat-icon inline class="solar-hrs-sun">wb_sunny</mat-icon> hrs, 
                {{site.mainAddress.city}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <h3>Site Id</h3>
        <mat-form-field>
            <input matInput placeholder="Site Name" value="{{site.name}}">
        </mat-form-field>
        <h3>Solar Info</h3>
        <mat-form-field>
            <input matInput placeholder="Solar Hours" value="{{site.numSolarHours}}">
        </mat-form-field>
        <h3>Site Address</h3>
        <mat-form-field>
            <input matInput placeholder="Street" value="{{site.mainAddress.street}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" value="{{site.mainAddress.city}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="State" value="{{site.mainAddress.state}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Country" value="{{site.mainAddress.country}}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Zip Code" value="{{site.mainAddress.zipCode}}">
        </mat-form-field>
    </mat-expansion-panel>
</div>