@import '~@angular/material/theming';

.sticky-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.cursor-pointer{
    cursor: pointer;
}

.padding-10 {
    padding: 10px;
}

.a-light-primary {
    text-decoration: none;
    color: $light-primary-text;
}